<html>
  <head>
    <title>Yonder</title>
    <style>
      body, html { height: 100%; margin: 0; padding: 0; } .full-screen-image {
      width: 100%; height: 100%; object-fit:contain; }
    </style>
  </head>
  <body>
    <img
      src='https://macro-image-server.s3.ap-northeast-2.amazonaws.com/index-image/co333.png'
      class='full-screen-image'
      alt='Yonder Home'
    />
  </body>
</html>